fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-pinecone
langchain-groq

pinecone

sentence-transformers

python-dotenv

beautifulsoup4

lxml

requests

tiktoken

python-multipart

aiofiles

pydantic

httpx